@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Arvo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width-80ch {
  max-width: 80ch;
}

.min-height-100vh {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Arvo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.heartbeatAnimation {
  animation: heartbeat 1.25s infinite;
}

.postShadow {
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

.postShadow:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
